<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>EGOR DRUMS</title>
  <style>
    body {
      background-image: url("/EGOR.jpg");
      background-size: cover;
      background-position: center;
      height: 100vh;
      margin: 0;
      display: flex;
      flex-direction: column;
      color: white;
    }

    .content {
      flex: 1;
      justify-content: center;
      align-items: center;
      text-align: center;
    }

    nav {
      font-size: 20px;
      background-color: rgba(0, 0, 0, 0.8);
      padding: 10px 0;
      text-align: right;
      margin-right: 10px;
    }

    nav a {
      color: white;
      text-decoration: none;
      padding: 0 10px;
    }

    nav a:hover {
      background-color: #030303;
    }

    table {
      width: 100%;
      border-collapse: collapse;
      background-color: rgba(0, 0, 0, 0.8); 
      color: white;
      margin-top: 20px;
    }

    th, td {
      padding: 10px;
      text-align: left;
    }

    th {
      background-color: #333;
    }

    td {
      border-bottom: 1px solid #666;
    }

    tr:hover {
      background-color: #555; 
    }

    
    a {
      text-decoration: none;
      color: white;
    }

    button {
      padding: 8px 12px;
      background-color: #444;
      border: none;
      color: white;
      cursor: pointer;
    }

    button:hover {
      background-color: #666;
    }

    footer {
      text-align: center;
      width: 100%;
      position: fixed;
      bottom: 0;
      background-color:rgba(0, 0, 0, 0.8)
    }
    
    h1 {
      font-size: 5rem;
      text-align: center;
    }
  
    
    form {
      margin-top: 5px; 
    }
    
    button {
      padding: 10px 20px; 
      font-size: 1rem; 
    }
    
    .error, .info {
      margin-top: 10px;
      padding: 10px; 
    }
    
    .error {
      background-color: #ffcccc;
    }
    
    .info {
      background-color: #ccffcc;
    }
  </style>
  </head>
  <body>

    
    
