<%- include("partials/head.ejs") %> 
<%- include("partials/header.ejs") %> 

<% if (user) { %>
  <h3>Hello, <%= user.name %>!</h3>
  <a href="/students" class="content">View Students</a>
<% } else { %> 

<% } %> 

<%- include("partials/footer.ejs") %>